* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* HEADER */

.header-container {
    height: 90px;
    background-color: #FF7175;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nome {
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
}


.fa-scale-balanced {
    font-size: 20px;
}

.links-texto, .redes-sociais {
    display: none;
}

.nome-raphael {
    color: #fff;
    font-size: 25px;
    margin-left: 10px;

}

.subtitulo {
    color: #000;
    font-size: 16px;
    margin-left: 25%;
}

/* --------SECTION INTRODUCTION---------- */

.introduction-container {
    background-image: url("./assets/bg-section-1.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 35vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.img-intro {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.image-raphael {
    width: auto;
    height: 90%;
    max-height: 35vh;
}

.textos-intro {
    display: none;
}


/* ------------SECTION SERVICES----------- */

.services {
    background-color: #393939;
    height: 400px;
    width: 100%;
}

@media (min-width:360px) {

/* --------SECTION INTRODUCTION---------- */

    .textos-intro {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .texto-1-intro {
        height: 60%;
        padding: 10px 15px 0px 0px;
        font-size: 16px;
        text-shadow: 2px 4px 3px #000;
        color: #FFF;
        font-weight: 700;
        text-align: start;
    }

    .texto-2-intro {
        color: #FFF;
        text-align: end;
        font-size: 12px;
        text-shadow: 2px 4px 3px #000;
    }
}

@media (min-width:425px) {
/* --------SECTION INTRODUCTION---------- */

    .texto-1-intro {
        font-size: 20px;
    }

    .texto-2-intro {
        font-size: 16px;
    }

}


@media (min-width:768px) {
/*--------- HEADER ------------*/

    .fa-scale-balanced {
        font-size: 30px;
        margin-left: 30px;
    }
    
    .nome-raphael {
        font-size: 35px;
        margin-left: 10px;
    
    }
    
    .subtitulo {
        font-size: 20px;
    }
    
    .header-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }

    .nome {
        display: flex;
        justify-content: center;
    }
    
    .redes-sociais {
        margin-left: 25%;
        display: flex;
        justify-content: space-evenly;
    }
    
    .fa-brands {
        color: black;
        font-size: 35px;
        transition: 0.3s;
    }
/* --------SECTION INTRODUCTION---------- */

    .texto-1-intro {
        margin-top: 20px;
        font-size: 28px;
    }

    .texto-2-intro {
        font-size: 20px;
    }

}

 
@media (min-width:1280px) {
/*--------- HEADER ------------*/

    .nome {
        display: flex;
        justify-content: center;
    }
    
    .navegacao-cabecalho {
        display: grid;
        grid-template-columns: 2fr 1fr;
    } 
    
    .links-texto {
        display: flex;
        justify-content: space-evenly;
    }
    
    .redes-sociais {
        margin-left: 0;
    }
    
    .itens-header {
        color: black;
        font-weight: bold;
        font-size: 30px;
    }

    .itens-header:hover {
        color: #ff0000;
    }

    .fa-facebook:hover {
        color: blue;
        transform: scale(1.10);
    }

    .fa-instagram:hover {
        color: #833AB4;
        transform: scale(1.10);
    }

    .fa-youtube:hover {
        color: #ff0000;
        transform: scale(1.10);
    }
/* --------SECTION INTRODUCTION---------- */
   
    .introduction-container {
        height: 50vh;
    }

    .image-raphael {
        height: 100%;
        max-height: 50vh;
    }

    .textos-intro {
        width: 60%;
    }
    .texto-1-intro {
        font-size: 42px;
    }

    .texto-2-intro {
        font-size: 32px;
        padding-left: 80px;
    }   

}